<!--our mission widget-->
<section>
  <div class="container_12">
    <div class="grid_12">
      <div class="grid_8 alpha">
        <div class="h2">
                <span class="color1">

                    our

                </span>
          <br>

          Mission

        </div>
        <%= image_tag "sec3_pic1.jpg", :class=>"img1" %>
        <h3>

          Mes cuml dia sed ineniasinge

          <br>

          dolore ipsum comnetus.

        </h3>
        <p>

          Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor nec met quam accumsan. Dolore condime netus lullam utlacus adipiscing ipsum molestie euismod lore estibulum vel libero ipsum sit amet sollicitudin ante.

          <br>

          Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor nec met quam accumsan. Dolore condime netus lullam ipsu utlacus adipiscing ipsum molestie euismod lore estibulum vel libero ipsum sit amet sollicitud ante. Aenean imperdiet aliquet hendrerit. Nunc interdum ullamcorper lectus.

        </p>
      </div>
      <div class="grid_4 omega">
        <div class="h2">
                <span class="color1">

                    latest

                </span>
          <br>

          news

        </div>
        <div class="wrapper">
          <div class="num_section">
            <time datetime="2013-01-01">
                        <span class="date_txt1">

                            10

                        </span>
                        <span class="date_txt2">

                            JAN

                        </span>
                        <span class="date_txt3">

                            2014

                        </span>
            </time>
          </div>
          <div class="box2">
            <p class="txt3">

              Donec facilisi

            </p>
            <p class="txt4">

              Lorem Ipsum dolore

            </p>
            <p>

              Morbi tempor quam massadipu iscing ut curs congue pentesqu nisel elit comte modo.

            </p>
          </div>
        </div>
        <div class="wrapper marTop2">
          <div class="num_section">
            <time datetime="2013-01-01">
                        <span class="date_txt1">

                            12

                        </span>
                        <span class="date_txt2">

                            JAN

                        </span>
                        <span class="date_txt3">

                            2014

                        </span>
            </time>
          </div>
          <div class="box2">
            <p class="txt3">

              Donec facilisi

            </p>
            <p class="txt4">

              Lorem Ipsum dolore

            </p>
            <p>

              Morbi tempor quam massadipu iscing ut curs congue pentesqu nisel elit comte modo.

            </p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>