<section class="container">
  <div class="p1-bottom wrapper">
    <div style="float:left;">
      <ul class="videos wrapper clearfix " style="margin-left: 0px;">
          <li><a class="a-1" href="https://broadcast.amazon.com/videos/15245-Live-Unicode-or-Die-Hard-Migrating-to-Unicode-in-your-corner-of-Amazon?width=550&amp;height=400&amp;colorTheme=white&amp;fileVideo=intro06.flv" rel="prettyPhoto" title="Video on unicode"><span></span></a></li>
          <li><a class="a-2" href="https://broadcast.amazon.com/videos/15446-Web-Analytics-Impression-Tracking-2-0?width=550&amp;height=400&amp;colorTheme=white&amp;fileVideo=SL_100.flv" rel="prettyPhoto" title="Video on Web Analytics"><span></span></a></li>
          <li class="last"><a class="a-3" href="https://broadcast.amazon.com/videos/12489-Employee-Q-A-All-Hands-Q3-2013?width=550&amp;height=400&amp;fileVideo=test.flv" rel="prettyPhoto" title="Video - All hands"><span></span></a></li>
       </ul>
    </div>
    <div style="padding:50px 0px 0px 50px;float: left;"><h3>New <br/> Releases</h3></div>

  </div>
</section>