<!-- horizontal 4 boxes widget-->
<section>
  <div class="container">
    <div class="bandBox row">
      <article style="
      width: 25%; float: left;position: relative;
              min-height: 1px;
              padding-left: 15px;
              padding-right: 15px;">
        <div class="thumb-pad1 maxheight" style="height: 290px;font: 13px/1.42857 Arial,Helvetica,sans-serif;
                color: rgb(193, 193, 193);">
          <div class="box_inner">
            <div class="thumbnail">
              <p class="title1">

                Innovate

              </p>
              <span class="icon-suitcase"></span>
              <p>

                Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit.

              </p>
            </div>
          </div>
        </div>
      </article>
      <article style="width: 25%; float: left;position: relative;
              min-height: 1px;
              padding-left: 15px;
              padding-right: 15px;">
        <div class="thumb-pad1 maxheight" style="height: 290px;font: 13px/1.42857 Arial,Helvetica,sans-serif;
                color: rgb(193, 193, 193);">
          <div class="box_inner">
            <div class="thumbnail">
              <p class="title1">

                Incubate

              </p>
              <span class="icon-cogs"></span>
              <p>

                Aenean nonummy henerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis.

              </p>
            </div>
          </div>
        </div>
      </article>
      <article style="width: 25%; float: left;position: relative;
              min-height: 1px;
              padding-left: 15px;
              padding-right: 15px;">
        <div class="thumb-pad1 maxheight" style="height: 290px;font: 13px/1.42857 Arial,Helvetica,sans-serif;
                color: rgb(193, 193, 193);">
          <div class="box_inner">
            <div class="thumbnail">
              <p class="title1">

                Integrate.

              </p>
              <span class="icon-file-alt"></span>
              <p>

                Aenean nonummy henerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque.

              </p>
            </div>
          </div>
        </div>
      </article>
      <article style="width: 25%; float: left;position: relative;
              min-height: 1px;
              padding-left: 15px;
              padding-right: 15px;">
        <div class="thumb-pad1 maxheight" style="
        height: 290px;font: 13px/1.42857 Arial,Helvetica,sans-serif;
                color: rgb(193, 193, 193);">
          <div class="box_inner">
            <div class="thumbnail">
              <p class="title1">

                Automate

              </p>
              <span class="icon-bar-chart"></span>
              <p>

                Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.

              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
