<!--footer starts here-->
<footer class="container-fluid">
  <div class="row-fluid">
    <div class="row footerdiv">
      <article class="container">
        <ul class="footerul">
          <li class="footerli"><a href="#" class="footera">Page Last Updated:<%= Date.today().strftime('%D') %></a></li>
          <li class="footerli"><a href="#" class="footera">Amazon Confidential</a></li>
          <li class="footerli"><a href="#" class="footera">Contact Us</a></li>
        </ul>
      </article>
    </div>
  </div>
</footer>

